<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p> Hello <%= @user.first_name %> , </p>
    <h5>WPassword Reset Request</h5>
    <p>
      Your new Password : <%= @password %> 
    </p>
    <p>      
    </p>
    <p>Thanks for joining Project Management Application and have a great day!</p>
  </body>
</html>