<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p> Hello <%= @user.first_name %> , </p>
    <h5>Welcome to Project Management Application</h5>
    <p>
      You have successfully signed up. <br/>
      your username is: <%= @user.login_name %>.<br/>
    </p>
    <p>      
    </p>
    <p>Thanks for joining Project Management Application and have a great day!</p>
  </body>
</html>