<div class="filter_options_container">  
  <form class="filter_form">
    <%= text_field_tag :search, params[:search], :placeholder => "Issue Title" %> 
    <input type="submit" value="search" />
  </form>
</div>
